* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero,
.footer {
  background-color: #1f2937;
  padding: 1rem 0rem;
  color: white;
}
.footer {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav div {
  width: 35%;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}

.header-section {
  display: flex;
  padding: 5rem;
}
.header {
  padding: 0.5rem;
  text-align: justify;
}
.header-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Optional: Adjust styles for the image */
.header-section img {
  max-width: 100%; /* Ensure the image is responsive */
  border-radius: 10px;
}
.info-section {
  padding: 3rem;
}
.info-section h2 {
  text-align: center;
  margin: 2rem 0rem;
}
.info-section-services {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.info {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  gap: 1rem;
}
.random-info {
  height: 200px;
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 25px;
}
.hero-text-primary {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text-secondary {
  font-size: 18px;
  color: #e5e7eb;
}
.logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.btn {
  max-width: max-content;
  border-radius: 5px;
  color: white;
  border: unset;
  padding: 0.5rem 1rem;
}
.primary-btn {
  background-color: #3882f6;
}

.header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 6rem 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

blockquote {
  width: 60%;
}

blockquote p:nth-child(1) {
  text-align: justify;
}
blockquote p:nth-child(2) {
  text-align: right;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.quoter {
  font-size: 28px;
  font-weight: 900;
}

.cta {
  background-color: #3882f6;
  color: white;
  width: 80%;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text {
  width: 70%;
}
.cta-btn {
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
  width: 10%;
  height: 35px;
  border-radius: 10px;
}
